<!DOCTYPE html>
<html ng-app="quoteBook">
<head>
	<title>quoteBook</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css">
</head>
<body ng-controller="ctrl">


	<input type="text" placeholder="What's your quote?" ng-model="newQuote"/>
	<button ng-click="addQuote()">Submit Quote</button>
	Filter: <input type="text" ng-model="filterText"/>

	<p ng-repeat="quote in quoteArray | filter: filterText">
		{{ quote.text }}
		<br/>
		{{ quote.author }}
		<button ng-click="deleteMe(quote.text)">Remove Quote</button>
	</p>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/ctrl.js"></script>
<script type="text/javascript" src="./js/dataService.js"></script>
</body>
</html>